:root {
  --button-bg-color: #ff0000;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  margin: 0 auto;
  text-align: center;
}

header img {
  width: 300px;
  margin-bottom: 5px;
}

@media screen and (max-width: 780px) {
  /* make burger menu etc */
  #guide-button,
  #search-button,
  #create-button,
  #edit-button {
    display: none;
  }

  #home-button {
    width: 80px;
  }

  #more-button {
    width: 80px;
    display: inline;
  }
}

@media screen and (min-width: 780px) {
  #more-button {
    display: none;
  }
}

header button {
  font-size: large;
  background-color: #ffde00;
  color: #3b4cca;
  border: 2px solid #3b4cca;
  width: 10%;
}

#search-main {
  display: flex;
  background-image: url('images/Pokedex.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

#guide-main {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

#search-form {
  display: grid;
  grid-template-columns: 160px 170px;
  grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-gap: 10px;
  position: absolute;
  width: 400px;
  height: 400px;
  top: calc(50% + 40px);
  left: calc(50% - 175px);
}

label {
  grid-column: 1 / 2;
}

input,
button {
  grid-column: 2 / 3;
  border-radius: 5px;
  border: 1px solid black;
}

#search-form > button {
  background-color: var(--button-bg-color);
  color: white;
  font-weight: bold;
}

#search-form > button:hover {
  background-color: var(--button-bg-color);
  color: #ffde00;
}
